img {height: auto;width: 500px;}
h1 {color: white;background-color: green;text-align: center;font-family: verdana, "times new roman", sans-serif;font-size: 50px;}
P {background-color: black;}
button{background-color: yellow;}